{% extends "base.html" %}
{% block js %}
	<link rel="stylesheet" type="text/css" href="/static/css/button.css" />
{% endblock %}
{% block style %}
	h1, h2{color:#000;border-top:1px dotted #fff;margin-top:1em; margin-bottom : 2em;}
	input{width:200px;height:30px;font-size:25px; background-color: white; color:black; border-radius:10px;}
	#id_content{width:300px;height:150px;font-size:25px; background-color: white; color:black;}
	#sub, #rst{margin-top:2px;width:60px;height:30px;border-radius:15px;font-size:20px;margin-left: 2em;}
	#sub{margin-left:10px;}
	#rst{margin-right:40px;}
	.site{width : 150px ;
		border:2px solid #bbb; 
		border-radius:18px;background : #eee; 
		float : left;
		padding : 10px;
		margin : 10px;}
	.siteimg0{float : left ; width : 100%;}
	#addstrgy{
		width : 400px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 10px;
		float : right ;}
	#sites{width : 400px;}
	#strgy{height : 100%;}
{% endblock %}

{% block title %}addstrgy{% endblock %}

{% block content%}
	<div id = "stygy">
	<table><tr><td valign = "top">
	<h2>景点选择区</h2><hr>
	<div id = "sites">
		
		{% for i, j in sites_info %}
			
			<div class = "site">
				<a href = "/mysite/{{i.siteID}}/">
				<p><label>景点名：</label>{{i.name}}</p>
				<p><label>描述：</label>{{i.content}}</p>
				<p><label>价格：</label>{{i.price}}</p>
				</a>
				<button onclick = 'choice({{i.siteID}})' name = "{{i.name}}" id = "btn{{i.siteID}}" class = "button">选择该景点</button>
				{% if j%}
					<img src="/static/siteimgs/{{j}}.png" class = "siteimg0"/>
				{% endif %}
			</div>
			
		{% endfor %}
	</div>
	</td><td valign = "top" width = "500px">
	<div id = "addstrgy">
		<form method="post">
		<!--{% csrf_token %}-->
		
			<div id = "form">
				<h2>撰写旅游攻略</h2>
				<table>{{form.as_table}}
				</table>
			</div>
			
			<div id = "choicesite">
				<legend>添加景点</legend>
				<fieldset>
				<h3>请在左侧区域点击选择</h3>
				<a href = "/site/">如若没有目标景点，请点此添加</a>
				<input name = "sitename" id = "targetsite" readonly = "true"/>
				</fieldset>
			</div>
			<table>
			<tr><th><label for="id_logID">选项:</label></th>
			<td><input type = "submit" value = "确定" id = "sub"/>
				<input type = "reset" value = "重置" id = "rst"/></td></tr>
			</table>
		</form>
	</div>
	</td></tr></table>
	<script type="text/javascript">
		function choice(siteID){
			//document.getElementById("suggestId").value="";
			
			var tep = siteID + "." + $("#btn"+siteID).attr("name")
			$("#targetsite").val(tep);
		}
	</script>
	</div>
{% endblock %}

   