<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type = "text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	{% block js %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/css/button.css" />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SmPwRK0YbgiWMTCXEIPPgK1S"></script>
	<link rel="shortcut icon" type="image/x-icon" href="/static/css/images/favicon.ico" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="all" />
	
	<script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="/static/js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="/static/js/jquery.flexslider-min.js" type="text/javascript"></script>
	<script src="/static/js/functions.js" type="text/javascript"></script>
	<style type="text/css">
	#mylogo{width : 220px;}
	{% block style %}{% endblock %}
	.flexslider ul li {
    width: 0px;
    height: 0px;
	}
	#userimg{float : right;}
	.radius_img{width:50px;height:50px;border-radius:50px;margin-top:5px; margin-left : 10px;}
	.services{font-size : 10px;}
	.errorlist li {
    color: red;
    font-size: 20px;
  }
	</style>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- shell -->
		<div class="shell">
			<!-- container -->
			<div class="container">
							
				<!-- header -->
				<header class="header">
					<img src="/static/imgs/logo.png"/ id = "mylogo"/>
					<div id = "userimg">
					{% if u.profile%}
						{% ifequal u.profile.is_img 1 %}
							<a href="/profile/"><img src="/static/imgs/{{u.username}}.png" class = "radius_img"/></a>
						{% endifequal %}
					{% endif %}
					</div>
					<nav id="navigation">
						<ul>
							<li><a href="/index/">个人主页</a></li>
							<li>
								<a href="#">旅游攻略<span></span></a>
								<ul>
									<li><a href="/strgys/">攻略查看</a></li>
									<li><a href="/addstrgy/">撰写攻略</a></li>
								</ul>
							</li>
							<li>
								<a href="#">日志管理<span></span></a>
								<ul>
									<li><a href="/showlog/">我的日志</a></li>
									<li><a href="/addlog/">撰写日志</a></li>
								</ul>
							</li>
							<li>
								<a href="#">出行管理<span></span></a>
								<ul>
									<li><a href="/design/">路线规划</a></li>
									<li><a href="/group/">组建团队</a></li>
									<li><a href="/site/">景点管理</a></li>
								</ul>
							</li>
							<li>
								<a href="#">个人信息<span></span></a>
								<ul>
									<li><a href='/profile/'>编辑信息</a></li>
									<li><a href="/myhope/">旅游意向</a></li>
									<li><a href="/passwd_change/">修改密码</a></li>
									<li><a href="/logout/">退出登录</a></li>
								</ul>
							</li>
							<li><a href="/profile/">
							{% if u.profile %}
								{% if u.profile.nickname %}
									{{u.profile.nickname}}{{u.username}}
								{% else %}
									{{u.username}}
								{% endif %}
							{% else %}
								{{u.username}}
							{% endif %}
							</a></li>	
						</ul>
						
					</nav>
					<div class="cl">&nbsp;</div>
				</header>
				<hr>
				<!-- end of header -->
				<div class="main">
					<!-- slider -->
					<div class="flexslider">
						{% block content %}{% endblock %}
					</div>
					<!-- end of slider -->
					<!-- cols -->
					
					<!-- end of cols  -->

					<!-- box -->
					<section class="box">
						<span class="shadow-t"></span>
						<h3>最新日志</h3>
						<a href="/showlog/" class="alignright"> + 更多</a>
						<div class="cl">&nbsp;</div>
						<!-- entries -->
						<div class="entries">
							{% for log in deal_logs %}
							<div class="entry">
								{% if log %}
									{% if log.is_img %}
										<a href="/mylog/{{log.logID}}/">
										<img src="/static/imgs/{{log.img_name}}.png" alt=""/></a>
									{% else %}
										<a href="/mylog/{{log.logID}}/">
										<img src="/static/imgs/hello_log.png" alt=""/></a>
									{% endif %}
								{% else %}
									<a href="#">
										<img src="/static/imgs/hello_log.png" alt=""/></a>
								{% endif %}
								<span class="shadow"></span>
							</div>
							{% endfor %}
							<div class="cl">&nbsp;</div>
							<span class="shadow-b"></span>
						</div>	
					<!-- end of entries -->
					</section>
					<!-- end of box -->
					<!-- 旅游攻略 -->
					<section class="box">
						<span class="shadow-t"></span>
						<h3>最新攻略</h3>
						<a href="/strgys/" class="alignright"> + 更多</a>
						<div class="cl">&nbsp;</div>
						<!-- entries -->
						<div class="entries">
							{% for i, j in final_strgys %}
							<div class="entry">
								{% if i %}
									{% if j %}
										<a href="/showstrgy/{{i.strgyID}}/">
										<img src="/static/siteimgs/{{j}}.png" alt=""/></a>
									{% else %}
										<a href="/showstrgy/{{i.strgyID}}/">
										<img src="/static/imgs/hello_strgy.png" alt=""/></a>
									{% endif %}
								{% else %}
									<a href="#">
										<img src="/static/imgs/hello_strgy.png" alt=""/></a>
								{% endif %}
								<span class="shadow"></span>
							</div>
							{% endfor %}
							<div class="cl">&nbsp;</div>
							<span class="shadow-b"></span>
						</div>	
					<!-- end of entries -->
					</section>
					<!-- services -->
					<section class="services">
						<div class="widget">
							<h3>简洁, 美观 &方便; 创意设计</h3>
							<p>Sed vel lacus lorem, non auctor ante. Aliquam posuere libero non felis euismod ac volutpat augue ullamcorper. Suspendisse convallis mi eget leo Sed pellentesque aliquam urna, vel euismod libero venenatis vitae.</p>
						</div>
						<div class="widget contact-widget">
							<h3>关于我们</h3>
							<ul>
								<li>HIT 2013级 计科二班 小丁丁工作室</li>
								<li><strong>Phone: </strong>13159876793</li>
								<li><strong>Email:</strong>1275288367@qq.com</li>
							</ul>
						</div>
						<div class="widget socials-widget">
							<h3>社交网站</h3>
							<p>Lorem ipsum dolor sit amet eu.</p>
							<a href="http://www.baidu.com" class="facebook-ico">baidu</a>
							<a href="http://weibo.com" class="twitter-ico">weibo</a>
							<a href="#" class="rss-ico">rss</a>
							<a href="#" class="in-ico">in</a>
							<a href="#" class="skype-ico">skype</a>
							<a href="#" class="google-ico">google</a>
						</div>
						<div class="cl">&nbsp;</div>
					</section>
					<!-- end of services -->

				</div>
				<!-- end of main -->
			</div>
			<!-- end of container -->	
			<div class="footer">
				<nav class="footer-nav">
					<ul>
						<li><a href="#">主页</a></li>
						<li><a href="#">关于我们</a></li>
						<li><a href="#">服务</a></li>
						<li><a href="#">攻略</a></li>
						<li><a href="#">微博</a></li>
						<li><a href="#">开发</a></li>
						<li><a href="#">奖励</a></li>
					</ul>
				</nav>
				<p class="copy">Copyright &copy; 2015 All Rights Reserved. Design by <a href="http://chocotemplates.com" target="_blank" >ChocoTemplates.com</a> </p>
			</div>
		</div>
		<!-- end of shell -->
	</div>
	<!-- end of wrappert -->
</body>
</html>