{% extends "base.html" %}

{% block style %}
	h1, h2, h3{color:#000;border-top:1px;margin:1em 0;}
	input{width:100px;height:30px;font-size:20px; background-color: white; color:black; border-radius:10px;}
	label{font-color:white;}
	.button{
	width:100px;
	height:30px;
	border-radius:15px;
	font-size:18px;
	}
	#form, #acting{
		margin : 10px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 10px;
   }
{% endblock %}

{% block title %}deal_msg{% endblock %}

{% block content%}
	<table width = "892px"><tr><td width = "400px">
	<div id = "form">
	<h2><center>驴友详情</h2><hr>
	<li><label>用户名：</label>{{friend_u.username}}</li>
	<li><label>头像：</label>{%ifequal friend_u.profile.is_img 0%}该驴友未上传头像
	{%else%}<img src="/static/imgs/{{friend_u.username}}.png"/ class = "radius_img">{%endifequal%}</li>
	{%if friend_p.nickname%}<li><label>昵称：</label>{{friend_p.nickname}}</li>{%endif%}
	{%if friend_p.age%}<li><label>年龄：</label>{{friend_p.age}}</li>{%endif%}
	{%if friend_p.sex%}<li><label>性别：</label>{%ifequal friend_u.sex 0%}女{%else%}男{%endifequal%}</li>{%endif%}
	{%if friend_p.phone%}<li><label>电话：</label>{{friend_p.phone}}</li>{%endif%}
	{%if friend_p.qq%}<li><label>QQ：</label>{{friend_p.qq}}</li>{%endif%}
	{%if friend_p.travellike%}<li><label>旅游爱好：</label>{{friend_p.travellike}}</li>{%endif%}
	{%if friend_h.home%}<li><label>出发地：</label>{{friend_h.home}}</li>{%endif%}
	{%if friend_h.goal%}<li><label>目的地：</label>{{friend_h.goal}}</li>{%endif%}
	{%if friend_h.start_date%}<li><label>出发日期：</label>{{friend_h.start_date|date:"Y-m-d"}}</li>{%endif%}
	{%if friend_h.end_date%}<li><label>结束日期：</label>{{friend_h.end_date|date:"Y-m-d"}}</li>{%endif%}
	{%if friend_h.tip%}<li><label>备注：</label>{{friend_h.tip}}</li>{%endif%}
	{% ifequal target_msg.msg_type 0%}
		<table><input type = "button" value = "同意添加" class = "button" style="background:#fafafa; color:black;" onclick = 'ensuref()'/>
		<input type = "button" value = "拒绝添加" class = "button" style="background:#fafafa; color:black;" onclick = 'cancelf()'/></table>
	{% endifequal %}
	{% ifequal target_msg.msg_type 1%}
		<table><input type = "button" value = "同意加入" class = "button" style="background:#fafafa; color:black;" onclick = 'ensuret()'/>
		<input type = "button" value = "拒绝加入" class = "button" style="background:#fafafa; color:black;" onclick = 'cancelt()'/></table>
	{% endifequal %}
	{% ifequal target_msg.msg_type 2%}
		<table><input type = "button" value = "同意申请" class = "button" style="background:#fafafa; color:black;" onclick = 'ensurea()'/>
		<input type = "button" value = "拒绝申请" class = "button" style="background:#fafafa; color:black;" onclick = 'cancela()'/></table>
	{% endifequal %}
	</div>
	</td><td width = "400px">
		{% ifequal target_msg.msg_type 1%}
			<div id = "acting">
				<h2><center>活动详情</h2><hr>
				<p>活动主题：{{act.title}}</p>
				<p>活动内容：</p><div style = "margin-left : 90px">{{act.content}}</div>
				<p>起始日期：{{act.start_date|date:"Y-m-d"}}</p>
				<p>结束日期：{{act.end_date|date:"Y-m-d"}}</p>
				<p>活动状态：{% if my_act.is_end %}已结束{% else %}进行中{% endif %}</p>
				<p>创建人：{{act.author.username}}</p>
				<p>创建日期：{{act.date|date:"Y-m-d H:i:s"}}</p>
				<hr>
				{% for person in persons %}
					<p>成员名称：{{person.user.username}}</p>
					<p>成员加入时间：{{person.date}}</p>
					<hr class = "inside_hr">
				{% endfor %}
			</div>
		{% endifequal %}
	</td></tr></table>
	<script type="text/javascript">
	function ensuref(){
		var oreq = new XMLHttpRequest();
		oreq.onreadystatechange = callback;
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?ensuref=ensuref");
		oreq.send(null);
		alert("你已添加对方为好友！！！");
	}
	function cancelf(){
		var oreq = new XMLHttpRequest();
		oreq.onreadystatechange = callback;
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?cancelf=cancelf");
		oreq.send(null);
		alert("你已成功拒绝对方添加！！！");
	}
	function ensuret(){
		var oreq = new XMLHttpRequest();
		oreq.onreadystatechange = callback;
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?ensuret=ensuret");
		oreq.send(null);
		alert("你已成功加入对方团队！！！");
	}
	function cancelt(){
		var oreq = new XMLHttpRequest();
		oreq.onreadystatechange = callback;
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?cancelt=cancelt");
		oreq.send(null);
		alert("你已拒绝加入对方团队！！！");
	}
	function ensurea(){
		var oreq = new XMLHttpRequest();
		oreq.onreadystatechange = callback;
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?ensurea=ensurea");
		oreq.send(null);
		alert("对方已加入您的团队！！！");
	}
	function cancela(){
		var oreq = new XMLHttpRequest();
		oreq.onreadystatechange = callback;
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?cancela=cancela");
		oreq.send(null);
		alert("你已拒绝对方加入您的团队！！！");
	}
	function callback(){
		window.location.href = "/index/";
	}
	</script>
{% endblock %}

   