{% extends "base.html" %}

{% block style %}
   #friends{color : yellow; font-size:30px;}
{% endblock %}

{% block title %}deal_act{% endblock %}

{% block content%}
	
	<li>活动序号：{{act.actID}}</li>
	<li>活动主题：{{act.title}}</li>
	<li>活动内容：{{act.content}}</li>
	<li>起始日期：{{act.start_date}}</li>
	<li>结束日期：{{act.end_date}}</li>
	<li>是否有效：{{act.is_valid}}</li>
	<li>是否结束：{{act.is_end}}</li>
	<li>创建日期：{{act.date}}</li>
	<hr>
	{% for person in persons %}
		<li>成员名称：{{person.user.username}}</li>
		<li>成员加入时间：{{person.date}}</li>
	{% endfor %}
	
{% endblock %}

   