{% extends "base.html" %}

{% block style %}
   #form{ 
	float: left;
    font-size: 20px;
    margin-top: 1em;
	margin-left: 0em;
	border-radius:10px;
	}
	input{width:100px;height:30px;font-size:20px; background-color: #453; color:white; border-radius:10px;}
	label{font-color:white;}
{% endblock %}

{% block title %}deal_msg{% endblock %}

{% block content%}

	<div id = "form">
	<li><label>用户名：</label>{{friend_u.username}}</li>
	<li><label>头像：</label>{%ifequal friend_u.profile.is_img 0%}该驴友未上传头像
	{%else%}<img src="/static/imgs/{{friend_u.username}}.png"/ class = "radius_img">{%endifequal%}</li>
	{%if friend_p.nickname%}<li><label>昵称：</label>{{friend_p.nickname}}</li>{%endif%}
	{%if friend_p.age%}<li><label>年龄：</label>{{friend_p.age}}</li>{%endif%}
	{%if friend_p.sex%}<li><label>性别：</label>{%ifequal friend_u.sex 0%}女{%else%}男{%endifequal%}</li>{%endif%}
	{%if friend_p.phone%}<li><label>电话：</label>{{friend_p.phone}}</li>{%endif%}
	{%if friend_p.qq%}<li><label>QQ：</label>{{friend_p.qq}}</li>{%endif%}
	{%if friend_p.travellike%}<li><label>旅游爱好：</label>{{friend_p.travellike}}</li>{%endif%}
	{%if friend_h.home%}<li><label>出发地：</label>{{friend_h.home}}</li>{%endif%}
	{%if friend_h.goal%}<li><label>目的地：</label>{{friend_h.goal}}</li>{%endif%}
	{%if friend_h.start_date%}<li><label>出发日期：</label>{{friend_h.start_date}}</li>{%endif%}
	{%if friend_h.end_date%}<li><label>结束日期：</label>{{friend_h.end_date}}</li>{%endif%}
	{%if friend_h.landtype%}<li><label>目的地地型：</label>{{friend_h.landtype}}</li>{%endif%}
	{%if friend_h.tip%}<li><label>备注：</label>{{friend_h.tip}}</li>{%endif%}
	{% ifequal target_msg.msg_type 0%}
		<table><input type = "button" value = "同意添加" onclick = 'ensuref()'/>
		<input type = "button" value = "拒绝添加" onclick = 'cancelf()'/></table>
	{% endifequal %}
	{% ifequal target_msg.msg_type 1%}
		<table><input type = "button" value = "同意加入" onclick = 'ensuret()'/>
		<input type = "button" value = "拒绝加入" onclick = 'cancelt()'/></table>
	{% endifequal %}
	{% ifequal target_msg.msg_type 2%}
		<table><input type = "button" value = "同意申请" onclick = 'ensurea()'/>
		<input type = "button" value = "拒绝申请" onclick = 'cancela()'/></table>
	{% endifequal %}
	</div>
	<script type="text/javascript">
	function ensuref(){
		var oreq = new XMLHttpRequest();
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?ensuref=ensuref");
		oreq.send(null);
		alert("你已添加对方为好友！！！");
		window.location.href = "/index/";
	}
	function cancelf(){
		var oreq = new XMLHttpRequest();
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?cancelf=cancelf");
		oreq.send(null);
		alert("你已成功拒绝对方添加！！！");
		window.location.href = "/index/";
	}
	function ensuret(){
		var oreq = new XMLHttpRequest();
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?ensuret=ensuret");
		oreq.send(null);
		alert("你已成功加入对方团队！！！");
		window.location.href = "/index/";
	}
	function cancelt(){
		var oreq = new XMLHttpRequest();
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?cancelt=cancelt");
		oreq.send(null);
		alert("你已拒绝加入对方团队！！！");
		window.location.href = "/index/";
	}
	function ensurea(){
		var oreq = new XMLHttpRequest();
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?ensurea=ensurea");
		oreq.send(null);
		alert("对方已加入您的团队！！！");
		window.location.href = "/index/";
	}
	function cancela(){
		var oreq = new XMLHttpRequest();
		oreq.open("get", "/deal_msg/{{friend_u.username}}/{{target_msg.msgID}}/" + "?cancela=cancela");
		oreq.send(null);
		alert("你已拒绝对方加入您的团队！！！");
		window.location.href = "/index/";
	}
	</script>
{% endblock %}

   