{% extends "base.html" %}

{% block style %}
   #my_act{
		margin : 10px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 10px;
   }
   p{margin-top : 5px;}
   .inside_hr{border-top:1px dashed #999ea2;}
{% endblock %}

{% block title %}deal_act{% endblock %}

{% block content%}
	<div id = "my_act">
	{% ifequal msg_disread True %}
	<h2><center>您还有未处理的活动申请</h2>
	<a href = "/index/"><center>请点此去首页处理</a>
	{% else %}
	<p>活动主题：{{act.title}}</p>
	<p>活动内容：</p><div style = "margin-left : 90px">{{act.content}}</div>
	<p>起始日期：{{act.start_date|date:"Y-m-d"}}</p>
	<p>结束日期：{{act.end_date|date:"Y-m-d"}}</p>
	<p>是否结束：{% if act.is_end %}已结束{% else %}进行中{% endif %}</p>
	<p>创建日期：{{act.date|date:"Y-m-d H:i:s"}}</p>
	<hr>
	{% for person in persons %}
		<p>成员名称：{{person.user.username}}</p>
		<p>成员加入时间：{{person.date}}</p>
		<hr class = "inside_hr">
	{% endfor %}
		{% ifequal act.is_end False%}
		<input type = "button" value = "是否结束" onclick = 'end()'/>
		{% endifequal %}
	{% endifequal %}
	</div>
	
	
	<script type="text/javascript">
	function end(){
		var oreq = new XMLHttpRequest();
		oreq.onreadystatechange = callback;
		oreq.open("get", "/deal_act/" + "?end=end&actID=" + {{act.actID}});
		oreq.send(null);
	}
	function callback(){
		window.location.href = "/group/";
	}
	</script>
{% endblock %}

   