<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
</head>	

<body>
 <h1>找回密码</h1>
<form method = "post">
{%csrf_token%}
<ul>
 <li><label for="id_email"><h2>邮箱：</h2></label></li><input id="id_email" maxlength="30" name="email" type="email" />{{form.email.errors}}<ul class="errorlist"><li>请输入正确的邮箱名.</li></ul>
<li><label for="id_username"><h2>用户名:</h2></label></li><input id="id_username" maxlength="30" name="username" type="text" />{{form.username.errors}}<ul class="errorlist"><li>请输入正确的用户名形式. 只包括字母, 数字和 @/./+/-/_ 等符号, 最长不超过30个字符.</li></ul>
<input type="submit" value = "ok" />
<>
</u1>
</form>
</body</html>