{% extends "base_v.html" %}
{% block js %}
	<link rel="stylesheet" type="text/css" href="/static/css/button.css" />
{% endblock %}
{% block style %}
    h1, h2{color:#000;margin-top:2em}
	.flexslider ul li {
    width: 0px;
    height: 0px;
	}
	body{font-size: 15px;}
	#id_email, #id_username{width : 300px; height : 25px; font-size : 20px}
{% endblock %}
{% block title %}找回密码{% endblock %}

 
{% block content%}
	<h1>找回密码</h1>
	<form method = "post">
	{%csrf_token%}
	<ul>
	<label for="id_email"><h2>邮箱：</h2></label>
	<input id="id_email" maxlength="30" name="email" type="email"/>
	<label for="id_username"><h2>用户名:</h2></label><input id="id_username" maxlength="30" name="username" type="text" />
	<ul class="errorlist">请输入正确的用户名形式. 只包括字母, 数字和 @/./+/-/_ 等符号, 最长不超过30个字符.</ul>
	<input type="submit" value = "ok" class = "button"/>
	</u1>
	</form>
{%endblock%}
