{% extends "base.html" %}

{% block style %}
	.flexslider { width: 1000px;}
	h1, h2, h3{color:#000;border-top:1px;margin:1em 0;}
   #id_title{width:300px;height:30px;font-size:20px; background-color: white; color:black; border-radius:10px;}
   #id_content{width:300px;height:100px;font-size:18px; background-color: white; color:black;}
  
   
   #sub, #rst{
	margin-top:2px;
	width:60px;
	height:30px;
	border-radius:15px;
	font-size:20px;
	margin-left: 2em;}
	#sub{
	margin-left:60px;
	}#rst{
	margin-right:40px;
	}
	#addact, #adviceresult, #info, #acting, #myact{
		margin : 10px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 10px;
   }
   #adviceresult{padding : 5px;}
   #act{padding : 5px;}
   p{margin-top : 5px;}
   .inside_hr{border-top:1px dashed #999ea2;}
   
{% endblock %}

{% block title %}group{% endblock %}

{% block content%}
	<table id = "group_table" width = "1000px">
		<tr><td width = "250px" valign="top" align = "center">
			<div id = "adviceresult">
			<div style = "width: 120px;"><h2>驴友推荐</h2></div>
			{%for hope in hlist%}
				{%ifequal hope.user u%}
				{%else%}
				<p><a href = "/my_advice_user/{{hope.user.username}}/">{{hope.user.username}}</a></p>
				{%endifequal%}
			{%endfor%}
			</div>
		</td><td width = "500px" valign="top">
			{% ifequal h.is_commit False%}
				<div id = "info">
				<h2><center>您还未填写旅游意向</h2><br>
				<a href = "/myhope/"><center>请点此转到旅游意向界面</a>
				</div>
			{% else %}
				{% ifequal has_act True %}
					<div id = "addact">
					<h2><center>请填写创建活动内容</h2>
					<form method="post">
						<table>{{form.as_table}}
						<tr><th><label>选项:</label></th><td><input type = "submit" value = "发布" id = "sub" class = "button" style="background:white; color:black;">
						<input type = "reset" value = "重置" id = "rst" class = "button" style="background:white; color:black;"></td></tr>
						</table>
					</form>
					</div>
				{% else %}
					<div id = "acting">
					<h3><center>您有未完成的活动,不能够创建新活动</h3>
					<h3><center>我目前的活动</h3><hr>
					<p>活动主题：{{my_act.title}}</p>
					<p>活动内容：</p><div style = "margin-left : 90px">{{my_act.content}}</div>
					<p>起始日期：{{my_act.start_date|date:"Y-m-d"}}</p>
					<p>结束日期：{{my_act.end_date|date:"Y-m-d"}}</p>
					<p>活动状态：{% if my_act.is_end %}已结束{% else %}进行中{% endif %}</p>
					<p>创建人：{{my_act.author.username}}</p>
					<p>创建日期：{{my_act.date|date:"Y-m-d H:i:s"}}</p>
					<hr>
					{% for person in persons %}
						<p>成员名称：{{person.user.username}}</p>
						<p>成员加入时间：{{person.date}}</p>
						<hr class = "inside_hr">
					{% endfor %}
					</div>
				{% endifequal %}
				
			{% endifequal%}
		</td><td width = "200px" valign="top">
			<div id = "myact">
			<h2><center>我创建的活动</h2><hr>
			{% for act in acts %}
				<div id = "act">
					<p>活动主题：{{act.title}}</p>
					<p>活动内容：</p><div style = "margin-left : 90px">{{act.content}}</div>
					<p>起始日期：{{act.start_date|date:"Y-m-d"}}</p>
					<p>结束日期：{{act.end_date|date:"Y-m-d"}}</p>
					<p>是否结束：{% if act.is_end %}已结束{% else %}进行中{% endif %}</p>
					<p>创建日期：{{act.date|date:"Y-m-d H:i:s"}}</p>
					{% ifequal act.is_end False %}
					<a href = "/deal_act/?actID={{act.actID}}"><input type = "button" value = "去处理" class = "button" style="background:white; color:black;" ></a>
					{% endifequal %}
				</div>
				<hr class = "inside_hr">
			{% endfor %}
			</div>
	</table>
{% endblock %}
