{% extends "base.html" %}

{% block style %}
   #id_title{width:300px;height:30px;font-size:20px; background-color: #453; color:white; border-radius:10px;}
   #id_content{width:300px;height:100px;font-size:18px; background-color: #453; color:white}
   #adviceresult{float: left; color : yellow; font-size:21px;}
   #act{margin-top : 20px;}
   #sub, #rst{
	margin-top:2px;
	width:60px;
	height:30px;
	border-radius:15px;
	font-size:20px;
	margin-left: 2em;}
	#sub{
	margin-left:60px;
	}#rst{
	margin-right:40px;
	}
{% endblock %}

{% block title %}advice{% endblock %}

{% block content%}
	<table id = "group_table" width = "100%">
		<tr><td width = "20%">
			<div id = "adviceresult">
			{%for hope in hlist%}
				{%ifequal hope.user u%}
				{%else%}
				<li><a href = "/my_advice_user/{{hope.user.username}}/">{{hope.user.username}}</a></li>
				{%endifequal%}
			{%endfor%}
			</div>
		</td><td width = "60%">
			{% ifequal h.is_commit False%}
				<div id = "info">
				<h2>您还未填写旅游意向</h2><br>
				<a href = "/myhope/">请点此转到旅游意向界面</a>
				</div>
			{% else %}
				{% ifequal is_create_act True %}
					<div id = "act">
					<h2><center>请填写创建活动内容</h2>
					<form method="post">
						<table align = "center">{{form.as_table}}
						<tr><th><label>选项:</label></th><td><input type = "submit" value = "保存" id = "sub" style="background:#453;color:white">
						<input type = "reset" value = "重置" id = "rst" style="background:#453;color:white"></td></tr>
						</table>
					</form>
					</div>
				{% else %}
					<h2><center>您有未完成的活动，不能够创建新活动</h2>
				{% endifequal %}
			{% endifequal%}
		</td><td width = "20%">
			<h2>我创建的活动</h2>
			{% for act in acts %}
				<li>活动序号：{{act.actID}}</li>
				<li>活动主题：{{act.title}}</li>
				<li>活动内容：{{act.content}}</li>
				<li>起始日期：{{act.start_date}}</li>
				<li>结束日期：{{act.end_date}}</li>
				<li>是否有效：{{act.is_valid}}</li>
				<li>是否结束：{{act.is_end}}</li>
				<li>创建日期：{{act.date}}</li>
				<input type = "button" value = "去处理" onclick = 'deal()'/>
				<script type="text/javascript">
					
					function deal(){
						var oreq = new XMLHttpRequest();
						var para = "?actID="+{{act.actID}}
						oreq.open("get", "/deal_act/" + para);
						oreq.send(null);
						window.location.href = "/deal_act/" + "?actID="+{{act.actID}};
					}
				</script>
			{% endfor %}
	</table>
{% endblock %}
