{% extends "base.html" %}

{% block style %}
   #strgys{float: right; font-size:18px; margin-right: 10px; font-family : KaiTi;}
   #logs{float: left; font-size:18px;}
   #index_table{width : 100%; height : 100%; align : center; text-align : left}
   #container_left, #container_center, #container_right{
		border:0px solid #fff;   
		-moz-border-radius:30px;  
        -webkit-border-radius:30px;  
        border-radius:30px;}
   #container_left{width : 100% ; height : 100% ; padding : 5px ; float : left;}
   #container_center{width : 90% ; height : 100%; padding : 20px; border:3px solid #fff;}
   #container_right{width : 100% ; height : 100%; padding : 5px; float : right;}
   #log_img{float : left ; width : 200px }
   
{% endblock %}

{% block title %}index{% endblock %}

{% block content%}
	<table id = "index_table">
		<tr><td width = "20%">
		<div id = "container_left">
			<div id = "message">
				<h2><center>消息区</h2>
				<hr>
				<b><font color = "#3399FF"><b>您有{{info_num}}条未读消息！</b></font></b>
				<hr>
				{% if messages %}
					<ul>
					{% for message in messages %}
						{% ifequal message.is_req True %}
							{% ifequal message.msg_type 0 %}
							<li>亲爱的{{message.go.username}}, 您收到 {{message.come.username}}的添加好友请求, 
							时间为{{message.date|date:"Y-m-d H:i:s"}}</li>
							{% endifequal%}
							
							{% ifequal message.msg_type 1 %}
							<li>亲爱的{{message.go.username}}, 您收到 {{message.come.username}}的活动组队邀请, 
							时间为{{message.date|date:"Y-m-d H:i:s"}}</li>
							{% endifequal%}
							
							
							{% ifequal message.msg_type 2 %}
							<li>亲爱的{{message.go.username}}, {{message.come.username}}申请加入您的组团活动, 
							时间为{{message.date|date:"Y-m-d H:i:s"}}</li>
							{% endifequal%}
							<a href = "/deal_msg/{{message.come.username}}/{{message.msgID}}/">
							<button>去处理</button></a>
						{% else %}
							{% ifequal message.msg_type 0 %}
								
								<li>亲爱的{{message.go.username}}, {{message.come.username}}
								{% ifequal message.msg_deal 0 %}
								接受了您的好友请求, 
								{% else %}
								拒绝了您的好友请求, 
								{% endifequal%}
								时间为{{message.date|date:"Y-m-d H:i:s"}}</li>
								
							{% endifequal %}
							
							{% ifequal message.msg_type 1 %}
							
								<li>亲爱的{{message.go.username}}, {{message.come.username}}
								{% ifequal message.msg_deal 1 %}
								接受了您的好友请求, 
								{% else %}
								拒绝了您的好友请求, 
								{% endifequal%}
								时间为{{message.date|date:"Y-m-d H:i:s"}}</li>
							{% endifequal %}
							
							{% ifequal message.msg_type 2 %}
							
								<li>亲爱的{{message.go.username}}, {{message.come.username}}
								{% ifequal message.msg_deal 2 %}
								同意您加入{{message.come.username}}的活动, 
								{% else %}
								拒绝您加入{{message.come.username}}的活动 
								{% endifequal%}
								时间为{{message.date|date:"Y-m-d H:i:s"}}</li>
							{% endifequal %}
							
							<a href = "/index/?ignore=ignore&msgID={{message.msgID}}"><button onclick = 'ignore()'>知道了</button></a>
						{% endifequal %}
						
						
					
					{% endfor %}
					</ul>
					<hr>
				{% endif %} 
			</div>
			
			<div id = "logs">
				<h2><font color = "black"><center>我的日志</font></h2><hr>
				<b><font color = "#3399FF">您有{{logs_num}}条日志</font></b><hr>
				{%for log in logs%}
					<li><a href = "/mylog/{{log.logID}}/">{{log}}</a></li>
				{%endfor%}
			</div>
		</div>
		</td><td width = "60%" align = "center">
		<div id = "container_center">
			<div>
			<h1>好友动态</h1>
			<hr>
				{%for log in friends_logs%}
					<table>
					<tr>
					<td>{{log.date|date:"Y-m-d H:i:s"}}</td>
					<td>标题：</h3>{{log.title}}</td><td>{{log.user.username}}</td>
					<td>{%ifequal log.user.profile.is_img 0%}
					{%else%}
						<img src="/static/imgs/{{log.user.username}}.png"/ class = "radius_img">
						{%endifequal%}</td></tr>
					<tr>
					<td colspan = "4"><div>
					{%ifequal log.is_img False%}
					{%else%}<a href = "/friend_logimgs/{{log.user.username}}/">
					<img src="/static/imgs/{{log.img_name}}.png"/ id = "log_img"></a>{%endifequal%}
					{{log.content}}</div></td></tr>
					</table>
					<hr>
				{% endfor %}
			</div>
			
		</div>
		</td><td>
		<div id = "container_right">
			<div id = "acts">
			<h2><center>活动公示</h2><hr>
			{%for act in acts%}
				<li>活动序号：{{act.actID}}</li>
				<li>活动主题：{{act.title}}</li>
				<li>活动内容：{{act.content}}</li>
				<li>起始日期：{{act.start_date}}</li>
				<li>结束日期：{{act.end_date}}</li>
				<li>是否结束：{{act.is_end}}</li>
				<li>创建日期：{{act.date}}</li>
				<li>创建人：{{act.author.username}}</li>
				{% ifequal has_act True %}
				<a href = "/index/?actID={{act.actID}}"><button onclick = 'upgrade()'>申请加入</button></a>
				{% else %}{% endifequal %}
				
				<hr>
			{%endfor%}
			<script type="text/javascript">
					function upgrade(){
						alert("您已成功发送申请信息!");
						window.location.href = "/index/";
					}
				</script>
			</div>
			
			<div id = "strgys">
			<h2><font color = "black"><b><center>旅游攻略</b></font></h2><hr>
			{%for strgy in strgys%}
			<li><a href = "/showstrgy/{{strgy.strgyID}}/">{{strgy}}</a></li>
			<hr>
			{%endfor%}
			</div>
		</div>
		</td></tr>
	</table>
    
{% endblock %}










