{% extends "base.html" %}
{% block style %}
    h2{color:#000;border-top:1px dotted #fff;margin-top:2em}
{% endblock %}
{% block title %}用户登录{% endblock %}

{% block content%}

	<h1>登录界面</h1>
	<a href = "/register/"><h3><b>没有账户？点此注册一个</b></h3></a>
	{% if form.errors %}
		<p class="error">对不起，您的用户名或密码有误！！！</p>
	{% endif %}
	<form action="" method="post">
		{%csrf_token%}
		<input type="button" onclick="location.href='/find_password/'" value = "找回密码">
		<label for="username"><h2>用户名:</h2></label>
		<input type="text" name="username" value="" id="username">
		<label for="password"><h2>密码:</h2></label>
		<input type="password" name="password" value="" id="password">
		<input type="submit" value="登录" />
		<input type="hidden" name="next" value="/index/" />
	</form>

{% endblock %}







</body>
</html>