{% extends "base_v.html" %}
{% block js %}
	<link rel="stylesheet" type="text/css" href="/static/css/button.css" />
{% endblock %}
{% block style %}
    h1, h2{color:#000;border-top:1px dotted #fff;margin-top:2em}
	.flexslider ul li {
    width: 0px;
    height: 0px;
	}
	#error{
	width :230px;
    background-color: #6666BB;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
	}
	body{font-size: 15px;}
	#username, #password{width : 300px; height : 30px; font-size : 26px}
	.button{
	width:60px;
	height:30px;
	border-radius:15px;
	font-size:18px;
	}
{% endblock %}
{% block title %}用户登录{% endblock %}

{% block content%}

	<h1>登录界面</h1>
	
	
	<form action="" method="post">
	{% csrf_token %}
		<label for="username"><h2>用户名:</h2></label>
		<input type="text" name="username" value="" id="username">
		{% if form.errors %}
			<div id = "error">对不起，您的用户名或密码有误！！！</div>
		{% endif %}
		<label for="password"><h2>密码:</h2></label>
		<input type="password" name="password" value="" id="password">
		<input type="submit" value="登录" class = "button" style="background:#fafafa; color:black;"/>
		<input type="hidden" name="next" value="/index/" />
	</form>

{% endblock %}







</body>
</html>