{% extends "base.html" %}

{% block style %}
	h1, h2{color:#000;margin-top:1em; margin-bottom : 2em;}
   .table{border:solid 0px; align : right}
	#button1{
	width:60px;
	height:30px;
	border-radius:15px;
	margin-left : 350px;}
	#button2{
	width:60px;
	height:30px;
	border-radius:15px;
	margin-right : 350px;}
{% endblock %}

{% block title %}logout{% endblock %}

{% block content%}
	
    <form method="post">
	<div>
	<h2><center>退出登录</h2>
	<table class = "table" width = "892px">
	<tr><td colspan = "2"><center><b>是否确定退出？</b></td></tr>
	<tr><td><center><input type = "submit" name = "ensure" value = "确定" id = "button1" class = "button" style="background:white; color:black;"></td>
	<td><center><input type = "button" onclick = 'cancel()' value = "取消" id = "button2" class = "button" style="background:white; color:black;"></td></tr>
	</table>
	</div>
	</form>
	<script type="text/javascript">
	function cancel(){
		
		window.history.go(-1);
		
	}
	</script>
{% endblock %}

