
{% extends "base.html" %}
{% block style %}
	.flexslider { width: 1000px;}
	h1, h2{color:#000;border-top:1px dotted #fff;margin-top:1em; margin-bottom : 2em;}
   #logs{
		width : 400px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 20px ;
		margin-left : 18px;
		margin-top : 18px;
   }
   #log{height : 80px;}
   #log_img{float: left; width : 200px;}
   #mylog{
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 20px;
		margin : 18px;
   }
{% endblock %}

{% block title %}showstrgy{% endblock %}

{% block content%}

	<table width = "1000px"><tr><td width = "460px" valign="top" align = "center">
		<div id = "logs">
		<h2><center>我的日志目录</h2>
		{%for log in logs%}
			<div id = "log">
				<p align = "left"><label>标题：</label><a href = "/mylog/{{log.logID}}/">{{log.title}}</a></p>
				<p>&nbsp</p>
				<p align = "right"><label>日期：</label>{{log.date|date:"Y-m-d H:i:s"}}</p>
				<hr>
			</div>
		{%endfor%}
		</div>
	</td><td width = "534px" valign = "top" align = "center">
		<div id = "mylog" text-align = "center">
			<table align = "center">
			<tr><td><label>标题：</lable>{{mylog.title}}</td></tr>
			<tr><td><label>内容：</lable>
			<div>
			{%ifequal mylog.is_img False%}
			{%else%}
			<a href = "/friend_logimgs/{{mylog.user.username}}/">
			<img src="/static/imgs/{{mylog.img_name}}.png"/ id = "log_img"></a>{%endifequal%}
			{{mylog.content}}
			</div></td></tr>
			<tr><td><label>日期：</lable>{{mylog.date|date:"Y-m-d H:i:s"}}</td></tr></table>
		</div>
	</td></tr>
	</table>
	
{% endblock %}
   