{% extends "base.html" %}

{% block style %}
   #logs{float: left; color : black; font-size:21px; margin-left : 3em;}
   #log_img{float : left ; width : 200px }
   #table{align : center; width : 80%; margin-top : 4em}
{% endblock %}

{% block title %}mylog{% endblock %}

{% block content%}
	<table><tr><td width = "45%" valign="top" align = "center">
	<div id = "logs">
	<h2><center><font color = "black">我的日志列表及缩略信息</font></h2>
	{%for log in logs%}
	<li><a href = "/mylog/{{log.logID}}/">{{log}}</a></li>
	<hr>
	{%endfor%}
	</div>
	</td><td valign = "top" align = "center">
	<div id = "mylog" text-align = "center">
	<table id = "table"><tr><td><label>标题：</lable>{{mylog.title}}</td></tr>
	<tr><td><label>内容：</lable><div>{%ifequal mylog.is_img False%}
					{%else%}<a href = "/friend_logimgs/{{mylog.user.username}}/">
					<img src="/static/imgs/{{mylog.img_name}}.png"/ id = "log_img"></a>{%endifequal%}
					{{mylog.content}}</div></td></tr>
	<tr><td><label>日期：</lable>{{mylog.date|date:"Y-m-d H:i:s"}}</td></tr></table>
	</div>
	</td></tr>
	</table>
{% endblock %}

   