{% extends "base.html" %}
{% block js %}

{% endblock %}
{% block style %}
	h1, h2{color:#000;margin:2em 0;}
	input{ font-size:20px; background-color: white; color:black; border-radius:10px;}
	#id_content{width:300px;height:100px;font-size:30; background-color: white; color:black;}	
	#sub{float : right;}
	#commits{margin : 10px;}
	#mysite{width : 400px;}
	
	.img{width : 150px ;
		border:2px solid #bbb; 
		border-radius:18px;
		background : #eee; 
		float : left;
		padding : 10px;
		margin : 10px;}
	#mysite_info{width : 400px;}
	#deal_commits{
		width : 400px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 10px;
		float : right ;}
	.commit{padding : 5px;}
	.button{
	width:60px;
	height:30px;
	border-radius:15px;
	font-size:18px;
	}
{% endblock %}

{% block title %}mysite{% endblock %}

{% block content%}
	<table><tr><td width = "400px" valign = "top">
	<div id = "mysite_info">
		<h2>景点详细信息</h2>
		<hr>
		<p><label>景点名：</label>{{site.name}}</p>
		<p><label>描述：</label>{{site.content}}</p>
		<p><label>价格：</label>{{site.price}}</p>
	</div>
	<div id = "mysite">
		{% for i in imgs %}
			<img src="/static/siteimgs/{{i.name}}.png" class = "img"/>
		{% endfor %}
	</div>
	</td><td valign = "top" width = "40%">
	<div id = "deal_commits">
		<div id = "addcommit">
			<h2>添加评论</h2>
			<form method="post">
			<table>{{form.as_table}}</table>
			<input type = "submit" value = "评论" id = "sub" class = "button" style="background:#fafafa; color:black;"/>
			</form>
		</div>
		
		<div id = "commits">
			<h2>最新评论</h2>
			<hr>
			{% for c in commits %}
				<div class = "commit">
					<p align = "left"><label>内容：</label>{{c.content}}</p>
					<p align = "right"><label>评论者：</label>{{c.user.username}}</p>
					<p align = "right"><label>日期：</label>{{c.date|date:"Y-m-d H:i:s"}}</p>
				</div>
				<hr>
			{% endfor %}	
		</div>
	</div>
	</td></tr></table>
{% endblock %}

   