{% extends "base.html" %}

{% block style %}
   input{width:200px;height:30px;font-size:20px; background-color: white; color:black; border-radius:10px;}
   table{width : 100% ; margin-top : 3em;}
   #sub, #rst, #sub2{
	width:60px;
	height:30px;
	border-radius:15px;
	font-size:18px;
	margin-left: 2em;}
	#sub{
	margin-left:100px;
	}#rst{
	margin-left:40px;
	}#sub2{
	margin-left:40px;
	}

{% endblock %}

{% block title %}passwd_change{% endblock %}

{% block content%}
	<form method = "post" id = "form">
	<table>
		<tr>
		<td><font size = 5px >请输入原密码：</font><input name = "old_passwd" type = "password"/><font size = 3px ><b>提示：务必确认原密码</b></font></td>
		</tr><tr>
		<td><font size = 5px >请输入新密码：</font><input name = "new_passwd" type = "password"/></td>
		</tr><tr>
		<td><font size = 5px >请输一遍新密码：</font><input name = "new_passwd2" type = "password"/><font size = 3px ><b>提示：务必确认两次密码一致</b></font></td>
		</tr><tr>
		<td><input type = "submit" name = "ensure" value = "确定" id = "sub" class = "button" style="background:#fafafa; color:black;"/>
		<input type = "reset" value = "重置" id = "rst" class = "button" style="background:#fafafa; color:black;"/>
		<input type = "submit" name = "cancel" value = "取消" id = "sub2" class = "button" style="background:#fafafa; color:black;"/></td>
		</tr>
	</table>
	</form>
{% endblock %}

   