{% extends "base.html" %}
{% block style %}
    h2{color:#000;border-top:1px dotted #fff;margin-top:2em}
{% endblock %}
{% block title %}用户注册{% endblock %}

{% block content%}

	<h1>注册页面</h1>
	<form method = "post">
	{%csrf_token%}
		<label for="id_email"><h2>邮箱：</h2></label><input id="id_email" maxlength="30" name="email" type="email" />
		{{form.email.errors}}<ul class="errorlist">请输入正确的邮箱名</ul>
		<label for="id_username"><h2>用户名:</h2></label><input id="id_username" maxlength="30" name="username" type="text" />
		{{form.username.errors}}<ul class="errorlist">请输入正确的用户名形式. 只包括字母, 数字和 @/./+/-/_ 等符号, 最长不超过30个字符.</ul>
		<label for="id_password1"><h2>请输入密码:</h2></label><input id="id_password1" name="password1" type="password" />
		<label for="id_password2"><h2>请确认密码:</h2></label><input id="id_password2" name="password2" type="password" />
		<input type="submit" value = "ok" />
	</form>

{% endblock %}

