{% extends "base_v.html" %}
	{% block js %}
	<link rel="stylesheet" type="text/css" href="/static/css/button.css" />
{% endblock %}
    {% block title %}重置密码{% endblock %}

	{% block style %}
    
    h1, h2{color:#000;border-top:1px dotted #fff;margin-top:2em}
    #id_password1, #id_password2{width : 300px; height : 30px; font-size : 26px}
	{% endblock %}
{% block content %}
	<h1>重置密码</h1>
	<form method = "post">
	{%csrf_token%}
	<label for="id_password1"><h2>请输入密码:</h2></label><input id="id_password1" name="password1" type="password" />
	<label for="id_password2"><h2>请确认密码:</h2></label><input id="id_password2" name="password2" type="password" />
	<input type="submit" value = "ok" class = "button"/>
{% endblock %}