{% extends "base.html" %}
{% block style %}
	.flexslider { width: 1000px;}
	h1, h2{color:#000;border-top:1px dotted #fff;margin-top:1em; margin-bottom : 2em;}
   #strgys{
		width : 400px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 20px;
		margin-left : 18px;
		margin-top : 18px;
   }
   #strgy{ height : 80px;}
   .img{float: left; width : 200px;}
   #mysite{width : 450px ;float: left ;height : 300px; overflow-y : scroll;}
   #mystrgy{
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 20px;
		margin : 18px;
   }
{% endblock %}

{% block title %}showstrgy{% endblock %}

{% block content%}

	<table width = "1000px"><tr><td width = "460px" valign="top" align = "center">
		<div id = "strgys">
			<h2><center>旅游攻略目录</h2>
			{%for strg in strgys%}
				<div id = "strgy">
					<p align = "left"><label>标题：</label><a href = "/showstrgy/{{strg.strgyID}}/">{{strg.title}}</a></p>
					<p>&nbsp</p>
					<p align = "right"><label>日期：</label>{{strg.date|date:"Y-m-d H:i:s"}}</p>
					<hr>
				</div>
			{%endfor%}
		</div>
	</td><td valign = "top" width = "534px" align = "center">
		<div id = "mystrgy">
			<h2><center>旅游攻略内容</h2>
			<table id = "table"><tr><td><label>主题：</lable>{{strgy.title}}</td></tr>
				<tr><td><label>日期：</lable>{{strgy.date|date:"Y-m-d H:i:s"}}</td></tr>
				{% if is_site%}
				<tr><td><label>景点：</lable><a href = "/mysite/{{strgy.site.siteID}}/">{{strgy.site.name}}</a></td></tr>
				{% endif %}
				<tr><td><label>内容：</lable>
					<div id = "layout">
						{% if is_img %}
							<div id = "mysite">
								{% for img in imgs%}
									<img src="/static/siteimgs/{{img.name}}.png" class = "img"/>
								{% endfor %}
							</div>
						{% endif %}
						<div id = "text">
						{{strgy.content}}
						</div>
					</div>
				</td></tr>
			</table>
		</div>
	</td></tr>
	</table>
	
{% endblock %}
