{% extends "base.html" %}

{% block style %}
   #strgys{float: left; color : black; font-size:21px; margin-left : 3em;}
   #table{align : center; width : 80%; margin-top : 4em}
{% endblock %}

{% block title %}showstrgy{% endblock %}

{% block content%}

	<table><tr><td width = "60%" valign="top" align = "center">
	<div id = "strgys">
	<h2><center><font color = "black">旅游攻略列表及缩略信息</font></h2>
	{%for strg in strgys%}
	<li><a href = "/showstrgy/{{strg.strgyID}}/">{{strg}}</a></li>
	<hr>
	{%endfor%}
	</div>
	</td><td valign = "bottom" align = "center">
	<div id = "mystrgy" text-align = "center">
	<table id = "table"><tr><td><label>主题：</lable>{{strgy.title}}</td></tr>
	<tr><td><label>内容：</lable>{{strgy.content}}</td></tr>
	<tr><td><label>日期：</lable>{{strgy.date|date:"Y-m-d H:i:s"}}</td></tr></table>
	</div>
	</td></tr>
	</table>
	
{% endblock %}
