{% extends "base.html" %}
{% block style %}
   #strgys{float: left; color : black; font-size:21px; margin-left : 3em;}
   #table{align : center; width : 80%; margin-top : 4em}
   .img{float: left; width : 200px;}
   #mysite{width : 420px ;float: left ;height : 300px; overflow : scroll;}
   #text{width: 100%; }
{% endblock %}

{% block title %}showstrgy{% endblock %}

{% block content%}

	<table><tr><td width = "40%" valign="top" align = "center">
	<div id = "strgys">
	<h2><center><font color = "black">旅游攻略列表及缩略信息</font></h2>
	{%for strg in strgys%}
	<li><a href = "/showstrgy/{{strg.strgyID}}/">{{strg}}</a></li>
	<hr>
	{%endfor%}
	</div>
	</td><td width = "60%" valign = "top" align = "center">
	<div id = "mystrgy" text-align = "center">
	<table id = "table"><tr><td><label>主题：</lable>{{strgy.title}}</td></tr>
	<tr><td><label>日期：</lable>{{strgy.date|date:"Y-m-d H:i:s"}}</td></tr>
	{% if is_site%}
	<tr><td><label>景点：</lable>{{strgy.site.name}}</td></tr>
	{% endif %}
	<tr><td><label>内容：</lable>
		<div id = "layout">
			{% if is_img %}
				<div id = "mysite">
					{% for img in imgs%}
						<img src="/static/siteimgs/{{img.name}}.png" class = "img"/>
					{% endfor %}
				</div>
			{% endif %}
			<div id = "text">
			{{strgy.content}}
			</div>
		</div>
	</td></tr>
	{% if strgy.site %}
	
	{% endif %}
	</table>
	</div>
	</td></tr>
	</table>
	
{% endblock %}
