{% extends "base.html" %}
{% block js %}

{% endblock %}
{% block style %}
	h1, h2{color:#000;margin:2em 0;}
	input{ font-size:20px; background-color: white; color:black; border-radius:10px;}
	#id_content{width:300px;height:150px;font-size:20px; background-color: white; color:black;}
	#sub, #rst{border-radius:15px;font-size:18px;}
	#sub{margin-left:60px;}
	#rst{margin-right:30px;}
	
	.site{width : 150px ;
		border:2px solid #bbb; 
		border-radius:18px;background : #eee; 
		float : left;
		padding : 10px;
		margin : 10px;}
	.siteimg0{float : left ; width : 100%;}
	#addsite{
		width : 400px;
		border:1px solid #999ea2;   
		-moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
		padding : 10px;
		float : right ;}
	#sites{width : 400px;}
{% endblock %}

{% block title %}site{% endblock %}

{% block content%}
	<table><tr><td valign = "top">
	<h2>景点概况</h2><hr>
	<div id = "sites">
		
		{% for i, j in sites_info %}
			<a href = "/mysite/{{i.siteID}}/">
			<div class = "site">
				<p><label>景点名：</label>{{i.name}}</p>
				<p><label>描述：</label>{{i.content}}</p>
				<p><label>价格：</label>{{i.price}}</p>
				{% if j%}
					<img src="/static/siteimgs/{{j}}.png" class = "siteimg0"/>
				{% endif %}
			</div>
			</a>
		{% endfor %}
	</div>
	</td><td width = "40%" valign = "top">
	<div id = "addsite">
		<form enctype="multipart/form-data" method="post" action = "/site/">
		<!--{% csrf_token %}-->
		
			<div id = "form">
				<h2>添加景点</h2>
				<table>{{form.as_table}}
				</table>
			</div>
			
			<div id = "siteimg">
				<fieldset>
				<legend>上传图片</legend>
				<input type="file" name = "images"  multiple="" id = "uploadimg"/>
				</fieldset>
			</div>
			<table>
			<tr><th><label for="id_logID">选项:</label></th>
			<td><input type = "submit" value = "确定" id = "sub" class = "button" style="background:#fafafa; color:black;"/>
				<input type = "reset" value = "重置" id = "rst" class = "button" style="background:#fafafa; color:black;"/></td></tr>
			</table>
		</form>
	</div>
	</td></tr></table>
{% endblock %}

   